.header{
    grid-area: h;
    background-color: #fff;
    border-bottom: 2px solid black;
}

.header_img{
    height: 70px;
    margin-left: 20px;
 
}

.loginBlock{
    float: right
}
.loginBlock{
    text-decoration: none;
    margin: 10px;
}
