.nav{
    grid-area: n;
    background-color: #eaeaea;
    padding: 50px 20px;
    border-radius: 10px;
    min-height: 92vh;
    min-width: 250px;
}
.item{
    border-bottom: 1px solid slategray;
    padding: 10px;
    text-align: center;
}
.item a{
    color: #000;
    text-decoration: none;
}
.item a.active{
    color: #0033cb;
    text-decoration: none;
    display: block;
}
