.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 'h h'
  'n c';
  width: 1200px;
  margin: 100px auto;
}
.app-wrapper-content{
  grid-area: c;
  background-color: cornflowerblue;
  border-radius: 10px;
  font-size: 1.5rem;
}