.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 'h h'
  'n c';
  width: 100%;
}
.app-wrapper-content{
  grid-area: c;

  font-size: 1.5rem;
}