.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: #fff;
}

.dialog{
    color: #fff;
}
.dialogsItems{
    padding: 10px;
}

.dialogsItems .active{
    color: gold;
}
.messages{
    padding: 10px;
}
.message{

}